#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

# see EXAMPLES in dpkg-buildflags(1) and read /usr/share/dpkg/*
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

# see FEATURE AREAS in dpkg-buildflags(1)
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

clean:
	dh $@ --with autotools-dev

build:
	echo build stage is skipped. Please use binary to generate debian packages

binary: binary-syncd binary-syncd-rpc

binary-syncd:
	$(shell echo > /tmp/syncd-build)
	dh clean               --with autotools-dev
	dh build  -N syncd-rpc --with autotools-dev
	dh binary -N syncd-rpc --with autotools-dev

binary-syncd-rpc:
	$(shell echo '--enable-rpcserver=yes' > /tmp/syncd-build)
	dh clean           --with autotools-dev
	dh build  -N syncd --with autotools-dev
	dh binary -N syncd --with autotools-dev

# dh_make generated override targets
# This is example for Cmake (See https://bugs.debian.org/641051 )
#override_dh_auto_configure:
#	dh_auto_configure -- \
#	-DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH)

override_dh_auto_configure:
	./autogen.sh	
	dh_auto_configure -- $(shell cat /tmp/syncd-build)

override_dh_installinit:
  ifeq ($(shell cat /tmp/syncd-build), --enable-rpcserver=yes)
	sed -i 's/ENABLE_SAITHRIFT=0/ENABLE_SAITHRIFT=1/' debian/syncd-rpc.init
  else
	sed -i 's/ENABLE_SAITHRIFT=1/ENABLE_SAITHRIFT=0/' debian/syncd.init
  endif
	dh_installinit --init-script=syncd

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info
